@tailwind base;
@tailwind components;
@tailwind utilities;

.is-active {
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.is-active::before {
    content: "";
    position: absolute;
    background-color: #5B5FC7;
    height: 3px;
    top: 35px;
    width: 0;
    transition: .3s;
    border-radius: 10px 10px 0 0;
}

.is-active:hover::before {
    width: 100%;
}
